.settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* categories settings */
.category-settings {
    display: flex;
    flex-direction: column;
}

.category-setting-header > h1 {
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
    color: var(--clr-primary);
    margin-bottom: 30px;
}

.category-setting-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-setting-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.category-settings-content-item-box {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-settings-content-item-box > h3 {
    font-size: var(--text-sm);
    text-transform: uppercase;
    color: var(--clr-neutral-dark);
    margin-right: 20px;
}

.category-setting-item-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--clr-neutral-light);
    padding: 5px 10px;
}

.category-setting-item-box > p {
    font-size: var(--text-sm);
}

.category-setting-item-action {
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-setting-item-action > svg {
    font-size: var(--text-default);
    cursor: pointer;
}

/*employees settings */
.employee-settings {
    display: flex;
    flex-direction: column;
}

.employee-setting-header > h1 {
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
    color: var(--clr-primary);
    margin-bottom: 30px;
}

.employee-setting-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.employee-setting-content-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.employee-settings-content-item-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.employee-settings-content-item-box > h3 {
    font-size: var(--text-sm);
    text-transform: uppercase;
    color: var(--clr-neutral-dark);
    margin-right: 20px;
}

.employee-list {
    display: flex;
    align-items: center;
}

.employee-list > h3 {
    font-size: var(--text-sm);
    text-transform: uppercase;
    color: var(--clr-neutral-dark);
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--clr-neutral-light);
    transition: all 200ms ease-in;
}

.slider::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 3px;
    background-color: var(--clr-white);
    transition: all 200ms ease-in;
}

input:checked + .slider {
    background-color: var(--clr-primary);
}

input:checked + .slider {
    box-shadow: var(--shadow);
}

input:checked + .slider::before {
    transform: translateX(18px);
}

.slider.rounded {
    border-radius: 34px;
}

.slider.rounded::before {
    border-radius: 50%;
}